body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

form {
    margin-bottom: 15px;
}

input {
    margin-right: 90px;
    margin-bottom: 15px;
}

select {
    margin-right: 90px;
    margin-bottom: 15px;
}

textarea {
    width: 250px;
    padding: 10px;
    border: 1px solid #6e6e6e;
    border-radius: 4px;
    min-height: 5px;
    resize: none;
    /* box-sizing: border-box; */
}

button {
    margin-top: 15px;
    padding: 12px 25px;
    border: 1px solid rgb(94, 94, 94);
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 0 8px rgb(0, 0, 0);
}

.cancel:hover {
    background-color: rgb(225, 147, 147);
    box-shadow: 0 0 4px rgb(0, 0, 0);
}

.cancel:active {
    background-color: rgb(188, 103, 103);
    padding: 12px 24px;
    box-shadow: 0 0 1px rgb(0, 0, 0);
    border: .5px solid rgb(0, 0, 0);
}

.submit:hover {
    background-color:rgb(130, 208, 130);
    box-shadow: 0 0 4px rgb(0, 0, 0);
}

.submit:active {
    background-color:rgb(104, 162, 104);
    padding: 12px 24px;
    box-shadow: 0 0 1px rgb(0, 0, 0);
    border: .5px solid rgb(0, 0, 0);
}

.new-form:hover{
    background-color: #87c4ef;
    box-shadow: 0 0 4px rgb(0, 0, 0);
}

.new-form:active{
    background-color: #327db2;
    padding: 12px 24px;
    box-shadow: 0 0 1px rgb(0, 0, 0);
    border: .5px solid rgb(0, 0, 0);
}

.navbar {
  background-color: #1a2925;
  border-radius: 2px;
}

.navbar a {
  color: #87efda;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.required::after {
    content: " *";
    color: red;
}

.form-fields {
    /* max-width: 700px; */
    width:1250px;
    margin: 0 auto;
    padding: 15px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: absolute;
    display: none;
}

.user {
    position: absolute;
    top: 150px;
}

.req-form {
    position: absolute;
    top: 425px;
}

.button-group {
    position: absolute;
    top: 25px;
    right: 70px;
}

.deps {
    position: absolute;
    left: 750px;
}

.deps-text {
    position: absolute;
    top: 55px;
    left: 750px;
}

.deps-format {
    position: absolute;
    top: 110px;
    left: 750px;
}

.user-info {
    position: absolute;
    top: 45px;
    left: 300px;
    width: 400px;
}
